**/node_modules/
**/Projet .Net/
/M2/Projet .Net/
/M2/TP_Transversale/
/M2/RichardGrin/TP/

/M2/Michel Buffa - Angular/AngularBack/
/M2/Michel Buffa - Angular/AngularFront/
/M2/Michel Buffa - Angular/AngularFrontMBDSMadagascar2024/
/M2/Michel Buffa - Angular/AngularMBDSMadagascar2024/
/M2/Michel Buffa - Angular/assignment-app/
/M2/Michel Buffa - Angular/TP/

/M2/Gregory_Galli/Project/

/M2/Amosse_Edouard/tp-1-variables-et-collections-tahiana460/
/M2/Amosse_Edouard/tp2-fonctions-tahiana460/
/M2/Amosse_Edouard/tp3-classes-et-instances-tahiana460/

/M1/Projet/

/Licence/S2/Programmation/java doc/javadoc/
/Master/Cybersecurite - Mr Tsinjo/TP/WIFI/Lib/site-packages/pip/_vendor